/*Start GLOBAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    color: #000;
}

body {
    width: 100%;
    height: 100%;
    background: url("images/sitebg2BW.png") no-repeat center fixed;
    background-size: cover;
}

section {
    padding: 6rem 0;
}

a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
}

img {
    width: 100%;
}

@font-face {
    font-family: 'The Historia Demo';
    src: url(/TheHistoriaDemo.ttf) format("truetype")
}

/*End global*/

/*Start REUSABLE*/

.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative
}

.section-heading {
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 4rem;
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(0, 0, 0);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    background-color: #eee;
    margin: auto;
    width: fit-content;
}

.section-heading h1::before,
.section-heading h1::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);

}

.section-heading h1::before {
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
    background-color: #fd57bf;
}

.section-heading h1::after {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
    background-color: #ffe838;
}

.section-heading h6 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 2rem;
    color: #000;
}

.section-heading a h6 {
    margin-top: 2rem;
}

.has-margin-right {
    margin-right: 5rem;
}

/*End reusable*/

/*Start HEADER*/
header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 5;
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-link {
    font-family: 'The Historia Demo', sans-serif;
    font-size: 5rem;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 10;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #ffe838, #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
    /*display: flex;
    margin-top: 25vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: -webkit-linear-gradient(#ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.landing-text h1 {
    font-family: 'The Historia Demo', sans-serif;
    font-size: 20rem;
    /* background: linear-gradient(to top, #ffe838, #fd57bf); */
    background: linear-gradient(to top, #000000, #686868);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;

}

.landing-text h6 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: auto;
    width: fit-content;
    background-color: #eee;
}

/*End header*/


/*Start ABOUT*/

/* .about-details{
    display: flex;
    justify-content: space-evenly;
}

.container{
    display: flex;
    flex-direction: column;
}

#profile-img{
    align-self: center;
    width: 525px;
    height: 500px;
    border-radius: 6%;
} */

.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .3;
    font-weight: 300;
}

.about-heading h6 {
    font-size: 2rem;
    opacity: .3;
    font-weight: 200;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
    width: 50rem;
}

.about-details {
    flex: 1;
    background-color: #eee;
}

.about-details #about-skills {
    font-size: 1.8rem;
    font-weight: 300;
    padding: 7px 0 7px 50px;
}

/*End about*/

/*Social Media Icons*/

.social-media{
    text-align: center;
    width: fit-content;
    margin: 3rem auto 0 auto;
    
}

.social-media i{
    font-size: 5rem;
    transition: color 650ms;
}
/*
 
.fa-twitter-square:hover{
    color: #4267b2;
}

.fa-instagram-square:hover{
    color: #4267b2;
} */

/*end Social Media Icons*/

/*Start PORTFOLIO*/

/* .section-heading{
    display: flex;
    flex-basis: 25%;
    margin-left: 50px;
}

.portfolio-item{
    display: flex;
}

.portfolio-item .first{
    flex-direction: row-reverse;
} */

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img {
    width: 50rem;
    flex: 1;
}

.portfolio-description {
    flex: 1;
    background-color: #eee;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    /* margin-top: 2.5rem; */
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fd57bf;
    transition: color 650ms
}

.portfolio-description .cta:hover {
    color: #ffe838;
}

/*End Portfolio*/

/*Start Git-Hub projects*/
.section-heading h2 {
    margin: 2rem auto auto auto;
    width: fit-content;
    background: #eee;
    padding: .5rem;
    font-size: 2rem;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    align-items: center;
}

.project-item h1{
    width: fit-content;
    background: #eee;
    padding: .5rem;
    font-size: 2rem;
}

.projects .container {
    display: flex;
    flex-direction: column;
}

#github {
    width: auto;
    display: flex;
    justify-content: center;
}

#github a {
    align-self: center;
}

#github a img {
    width: fit-content;
}

#github-logo:hover {
    background-color: #ab68f7;
    border-radius: 50%;
}

/*End Git-Hub projects*/

/*Start Resume*/
.section-heading a h6 {
    font-size: 3rem;
    width: fit-content;
    margin: auto;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 1rem;
    background: #eee;
    margin-top: 2rem;
}
/*End Resume*/

/*Start contact*/

form {
    width: 70%;
    margin: 0 auto;
    background-color: #221e3f;
    padding: 5rem;
    border-radius: 5%;
}

form label {
    font-size: 1.5rem;
    color: #eee;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}

input[type="submit"] {
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    color: #221e3f;
    background-color: #ffe838;
}
/*End contact*/

/*Start footer*/
.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    display: flex;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    border-radius: 100%;
    right: 5rem;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4;
    display: inline-block;
}

.footer-name {
    font-size: 4rem;
    font-family: 'The Historia Demo', 'Roboto';
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

/*End footer*/

/*Start animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }

    70% {
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}

/*End animations*/

/*Start media queries*/

@media screen and (max-width: 768px) {
    body {
        background: url("images/sitebg2BW.png") no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1 {
        font-size: 15rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .nav-list {
        flex-direction: column;
    }

    li {
        margin: 2rem 0;
    }

    .nav-link {
        font-size: 4.5rem;
    }

    .about-heading {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .profile-img {
        max-width: 100%;
    }

    .portfolio-img {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {

    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1 {
        font-size: 8rem;
    }

    .landing-text h6 {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 3.5rem;
    }

    .about .container {
        flex-direction: column;
    }

    .profile-img {
        margin: 0 0 7rem 0;
        max-width: 100%;
    }

    .intro {
        text-align: center;
    }

    .portfolio-item {
        flex-direction: column;
    }

    .portfolio-img {
        margin: 2rem 0 0 0;
        order: 1;
        max-width: 100%;
    }

    .portfolio-description {
        margin: 0;
        order: 2;
    }

    .project-list {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .up {
        right: 2rem;
    }

}

/*End media queries*/